/* Footer css 시작 */
a {
	text-decoration: none;
}

li, ul, ol {
	list-style: none;
	padding: 0;
}

.footer-first {
	font-family: Ubuntu;
}

#left-title {
	font-size: 18px;
	font-weight: bold;
	color: #2d2e33;
	/* text-decoration:underline; */
}

#footer-list {padding 0;
	
}

#footer-list h2 {
	font-size: 18px;
	font-weight: bold;
	color: #2d2e33;
}

#footer-list>li {
	display: liline;
}

#footer-list>div ul li {
	display: inline-block;
	vertical-align: top;
	padding-top: 23px;
	font-size: 13px;
	width: 90px;
}

#footer-list>div ul li a {
	display: block;
	padding-top: 5px;
	color: #666666;
}

#footer-list>div ul li .tit {
	color: #d7a074;
	padding-bottom: 15px;
	font-weight: bold;
	list-style: none;
}

#footer-list>div ul li.line {
	width: 1px;
	height: 120px;
	padding-top: 0;
	margin-top: 23px;
	background: #dfdfd6;
}

.footer_menus .footer_menus_inner {
	position: relative;
	margin: auto;
	text-decoration: none;
}

.footer_menus {
	padding: 17px 0;
	border-top: 1px solid #dee5e8;
	border-bottom: 1px solid #dee5e8;
	text-align: left;
	background-color: #f0f0f0;
}

.footer_menus a:first-child {
	padding-left: 0;
	border-left: none;
	margin-left: 15px;
}

.footer_menus a {
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	color: #000;
	padding: 0 13px;
	border-left: 1px solid #b9b9b9;
}

#SNS {
	position: absolute;
	right: 30px;
	top: 50%;
	margin-top: -13px;
	font-size: 18px;
}