<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Files">
	<insert id="insertFile" parameterType="File" useGeneratedKeys="false">
		insert into files VALUES(
			files_SEQ.NEXTVAL, #{originalFileName}, #{storedFileName}, #{fileSize}, #{contentType}, sysdate
		)
	</insert>
	
	<select id="getFileList" parameterType="Integer" resultType="File">
		select 
			f.seq as fileSeq,
			f.originalFileName,
			f.storedFileName,
			f.fileSize,
			f.contentType,
			f.createAt
		FROM post p, files f
		WHERE p.fileSeq = f.seq
		AND p.rental_obj_code = #{postSeq}
			
	</select>
</mapper>
