<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
 	
 	<resultMap type="member" id="memberMap">
 	</resultMap>
 	
 
 	<insert id="insertMember" parameterType="member">
 		insert into member values(#{member_id},#{member_pw},#{member_name},#{birthday},#{gender},#{phone},#{post_no},#{address},#{detail_address},#{email},#{email_alarm},'user',sysdate,'Y')

 	</insert>
 	
 	<update id="createAuthKey" parameterType="member">
		update member set esc_status = 'Y' where email = #{email}
	</update>
 	
 	<update id="userAuth">
 		update member set esc_status ='N' where email =#{email}
 	</update>
 	

	<select id="loginCheck" parameterType="string" resultMap="memberMap">
		select * from member where member_id=#{userId}
	</select>
 
</mapper>
