<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Rental">

	<resultMap type="rental" id="rentalMap"></resultMap>

	<insert id="insertRental" parameterType="rental" useGeneratedKeys="false">
		insert into rental_obj values(rental_obj_seq.nextval, #{p_category_code}, #{title}, #{content}, #{member_id}, #{price}, #{post_no}, #{address}, #{detail_address}, #{phone}, to_date(#{start_date}, 'YYYY-MM-DD HH24:mi:ss'), to_date(#{end_date}, 'YYYY-MM-DD HH24:mi:ss'))
	</insert>
	
	<select id="selectRentalCount" resultType="_int">
		select count(*) from rental_obj
	</select>
	
	<select id="rentalList" resultType="rental">
		select * from rental_obj join product_category using(p_category_code) order by rental_obj_code desc
	</select>
	
	<select id="getRental" resultType="rental" parameterType="Integer">
		select * from rental_obj JOIN product_category using(p_category_code) where rental_obj_code = #{rental_obj_code}
	</select>
	
	<insert id="insertRentalPerson" parameterType="rentalPerson">
		insert into rental values(rental_seq.nextval, #{rental_obj_code}, #{member_id}, to_date(#{start_date}, 'YYYY-MM-DD HH24:mi:ss'), to_date(#{end_date}, 'YYYY-MM-DD HH24:mi:ss'))
	</insert>
	
	<select id="selectRentalPerson" resultType="rentalPerson" parameterType="Integer">
		select * from rental where rental_obj_code=#{rental_obj_code}
	</select>
	
	<select id="selectRentalSearchCount" resultType="_int" parameterType="hashmap">
		select count(*) from rental_obj
			<if test="array != '' and array != null">
			where p_category_code in 
			   <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
       	 			#{item}
			   </foreach>
			</if>
	</select>
	
	<select id="rentalListSearch" resultType="rental" parameterType="hashmap">
		select * from rental_obj join product_category using(p_category_code)
			<if test="array != '' and array != null">
			where p_category_code in 
			   <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
       	 			#{item}
			   </foreach>
			</if>
		 order by rental_obj_code desc
	</select>
	
 	<resultMap type="map" id="selectOrderMap"></resultMap>
 	<select id="selectOrderList" parameterType="string" resultMap="selectOrderMap">
 		select *
 		from rental_obj 
 		where member_id=#{member_id}
 		order by rental_obj_code desc
 	</select>
	
 	<select id="orderListCount" resultType="_int" parameterType="string">
 		select count(*) from rental_obj where member_id=#{member_id}
 	</select>
 	
 		
 	<resultMap type="map" id="selectOrderMap2"></resultMap>
 	<select id="selectOrderList2" parameterType="string" resultMap="selectOrderMap2">
 		select o.rental_obj_code, o.title, r.member_id, m.phone, r.start_date, r.end_date
 		from rental_obj o
 		join rental r on (o.rental_obj_code = r.rental_obj_code)
 		join member m on (m.member_id = r.member_id)
 		where o.member_id=#{member_id}
 		order by o.rental_obj_code desc
 	</select>
	
 	<select id="orderListCount2" resultType="_int" parameterType="string">
 		select count(*)
	    from rental_obj o
	    join rental r on (r.rental_obj_code=o.rental_obj_code)
	    where o.member_id=#{member_id}
 	</select>
 	
 	<resultMap type="map" id="selectOrderMap3"></resultMap>
 	<select id="selectOrderList3" parameterType="string" resultMap="selectOrderMap3">
        select o.rental_obj_code, o.title, o.phone, o.address, o.detail_address, r.start_date, r.end_date
        from rental r
        join rental_obj o on (o.rental_obj_code = r.rental_obj_code)
        where r.member_id=#{member_id}
        order by o.rental_obj_code desc
 	</select>
	
 	<select id="orderListCount3" resultType="_int" parameterType="string">
 		select count(*)
	    from rental
	    where member_id=#{member_id}
 	</select>
</mapper>
